body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-top: 0;
    font-size: 24px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
    color: #666;
}

input[type="text"] {
    width: calc(100% - 24px);
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    padding: 12px;
    width: 100%;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 7px;
}

button:hover {
    background-color: #0056b3;
}

/* styles.css */

.container {
    max-width: 500px; /* Largura suficiente para acomodar as colunas */
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap; /* Para quebrar as vagas em várias linhas */
}

li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    flex-basis: calc(20% - 20px); /* Definindo a largura de cada vaga para 20% da largura total da lista (5 colunas) */
    margin: 10px;
    box-sizing: border-box; /* Para incluir o padding na largura total da vaga */
}

li:last-child {
    border-bottom: none;
}

.ocupada {
    color: red;
    font-weight: bold;
}
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; /* Centraliza o conteúdo */
}


form {
    text-align: left; /* Alinha o texto do formulário à esquerda */

}
body {
    background-color: #0056b3;
}